{% extends "templates/web.html" %}

{% block page_content %}
<style>
  .page-header {
    display:none;
  }
  .page-content {
    padding-top: 0px !important;
    margin-top: -5px;
  }
  h1 {
    background-color: #F2B43C;
    color: #fff;
    padding: 15px;
    margin: 0px
  }
  .description {
    padding: 15px;
    line-height: 1.7em;
  }
  .img-container {
    max-height: 400px;
    overflow: hidden;
  }
</style>
<div class="img-container">
  <img src="{{ image }}" >
</div>
<h1>{{ title }}</h1>
<div> {{description}}</div>
{% endblock %}

<!-- this is a sample default web page template -->
